@{
    ViewBag.Title = "Contact";
}
<h2>Team Buyout</h2>

<address>
    American University in Bulgaria<br/>
    1 Georgi Izmirliev Square<br/>
    Blagoevgrad 2700, Bulgaria
</address>

<h3>Professor:</h3>
<address>
    <strong>John Galletly:</strong> <a href="mailto:jgalletly@aubg.edu">jgalletly@aubg.edu</a>
</address>

<h3>Back-end developers:</h3>
<address>
    <strong>Aleks Angelov:</strong> <a href="mailto:aia131@aubg.edu">aia131@aubg.edu</a><br/>
    <strong>Mihaela Dimovska:</strong> <a href="mailto:mnd120@aubg.edu">mnd120@aubg.edu</a><br/>
    <strong>Nikolay Babev:</strong> <a href="mailto:nnb130@aubg.edu">nnb130@aubg.edu</a>
</address>

<h3>Front-end developers:</h3>
<address>
    <strong>Borislav Georgiev:</strong> <a href="mailto:bag130@aubg.edu">bag130@aubg.edu</a><br/>
    <strong>Ivan Dzhambov:</strong> <a href="mailto:izd120@aubg.edu">izd120@aubg.edu</a><br/>
    <strong>Katalina Dimitrova:</strong> <a href="mailto:kyd130@aubg.edu">kyd130@aubg.edu</a>
</address>